@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Merienda&family=Rampart+One&display=swap');

* {
	font-family: 'Gloria Hallelujah', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
